.resume-container {
    width: 60% ;
    left: 20%;
    position: absolute;
}

.contact-info {
    text-align: center;
}
.section-header {
    text-align: center;
}
.role-title {
    display: flex;
    justify-content: space-between;
}
p
{
  margin:0;
  padding:0;
  
}